body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);

}

.whole {
    background-image: url('1567674.webp');
    height: initial;
    justify-content: center;
    position: relative;

    align-content: center;

}

.sec1 {
    justify-content: center;
    position: relative;
    text-align: center;
    color: rgb(217, 205, 205);
    align-items: center;
    align-content: center;
    padding: 19%;
    font-size: 20px;


}

span {
    text-decoration: underline;
    font-size: 36px;
    font-family: monospace;
    text-transform: none;
    animation: alternate-reverse;
    font-style: oblique;
    color: floralwhite;
}

.design h2 {
    font-size: larger;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.second {
    background-image: url('ho.jpg');
    height: initial;
    position: relative;


}

.sec {
    padding: 20px 40px;
    font-family: sans-serif;
    font-size: large;
    color: black;
}

.fl {
    margin: 20px 30px;
}

.flx {

    position: relative;
    font-size: 20px;
    font-style: initial;

}

.flx img {
    float: right;
    padding-left: 4px;
}

.lx {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-style: italic;
}

.fx {
    padding-left: 30px;

}

a:hover {
    text-decoration: none;
    color: red;
    border-radius: 5px;
    border: 1px solid darkgreen;
    padding: 3px 4px;
    text-transform: capitalize;
    text-shadow: 100px;
    text-indent: 2px;
}



.co {
    color: rgb(247, 245, 245);
    margin: 25px 50px;
}

.co p {

    padding-right: 20px;
}

.intern {
    background-image: url('bk.jpg');
    height: initial;
    padding: 30px;
}